.status-label {
    font-weight: bold;
    color: #555;
  }
  
.button-group button {
margin-bottom: 10px; /* Spacing between buttons */
}

.mic-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.mic-icon {
font-size: 100px; /* Adjust size as needed */
color: #ccc; /* Default icon color */
}
  
.mic-icon.glowing {
animation: glowing-animation 2s infinite alternate; /* Apply the glowing animation */
}

@keyframes glowing-animation {
    0%, 100% {
        text-shadow:
        0 0 5px rgba(255, 0, 0, 0.2),
        0 0 10px rgba(255, 0, 0, 0.2),
        0 0 15px rgba(255, 0, 0, 0.2),
        0 0 20px rgba(89, 0, 255, 0),
        0 0 35px rgba(89, 0, 255, 0),
        0 0 40px rgba(89, 0, 255, 0),
        0 0 50px rgba(89, 0, 255, 0);
        color: #ccc;
        }
    50% {
        text-shadow:
        0 0 5px rgba(255, 0, 0, 0.7),
        0 0 10px rgba(255, 0, 0, 0.7),
        0 0 15px rgba(255, 0, 0, 0.7),
        0 0 20px rgba(89, 0, 255, 0.7),
        0 0 35px rgba(89, 0, 255, 0.7),
        0 0 40px rgba(89, 0, 255, 0.7),
        0 0 50px rgba(89, 0, 255, 0.7);
        color: rgb(68, 0, 255);
        }
}

.hide-layout .vertical-menu, 
.hide-layout .navbar-header,
.hide-layout .footer {
    display: none; /* This will hide all elements with the 'd-flex' class when 'hide-layout' class is added to the body */
  }

.no-click {
pointer-events: none;
opacity: 0.5; /* Optional: to visually indicate it's disabled */
}

.saveexit-button-spacing {
    margin-right: 8px; /* or any other value that suits your design */
  }


/* Improve card styling */
.card {
  margin: 0 auto;
  margin-bottom: 20px; /* Add space between cards */
  border-radius: 8px; /* Rounded corners for the card */
}

/* Sidebar card specific styling */
.sidebar-card {
  background-color: #f8f9fa; /* Light background for the sidebar */
  border-left: 4px solid #5b7fff; /* Adds a colored border to the left for emphasis */
}

/* Style for the main content card */
.content-card {
  background: #fff; /* White background for content card */
}

/* Alert styling */
.alert {
  border-radius: 8px;
  margin-bottom: 20px; /* Add some space below the alert */
}

/* General padding for the container */
.page-content > .container-fluid {
  padding: 20px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .sidebar-card,
  .content-card {
    margin-left: 0;
    margin-right: 0;
  }
}

/* You may need to adjust the existing .mic-icon-container class for better alignment */
.mic-icon-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Space below the microphone icon */
}

/* Adjustments to the status label for better visibility */
.status-label {
  display: block; /* Ensure it takes its own line */
  margin-top: 10px; /* Space above the status label */
  color: #6c757d; /* Muted color for the label */
  font-size: 0.9em; /* Slightly smaller font size */
}