.page-content {
    background-color: #f4f5f7; /* Light background for the entire page */
    color: #333; /* Default text color */
}
  
.section-header {
font-size: 1.5rem; /* Larger font size for section headers */
margin-bottom: 1rem; /* Spacing below headers */
color: #0056b3; /* Color for headers, adjust as needed */
}

.custom-table th {
background-color: #e9ecef; /* Light background for table headers */
color: #495057; /* Color for header text */
}

.custom-table td {
color: #495057; /* Color for table data */
}

.btn-soft-primary {
background-color: #e2e6ea; /* Soft primary color for buttons */
color: #495057; /* Text color for buttons */
}

.btn-soft-primary:hover {
background-color: #d6dae0; /* Slightly darker on hover */
}

.hover-effect {
transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.hover-effect:hover {
transform: scale(1.05); /* Slightly enlarge buttons on hover */
}

.rounded-pill {
border-radius: 50rem; /* Fully rounded edges for buttons */
}

.shadow-sm {
box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); /* Subtle shadow for cards */
}

/* Additional styles as needed... */
.btn-view {
    margin-right: 8px; /* Adjust the spacing as needed */
}

.btn-success {
margin-right: 8px; /* Or any other suitable spacing */
}

/* Ensure that buttons don't stick together on small screens */
@media (max-width: 768px) {
    .btn-success {
      margin-bottom: 8px; /* Spacing for when buttons stack vertically */
      margin-right: 0; /* Remove the right margin when buttons stack */
    }
}

.scenario-card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    transition: transform 0.3s ease;
}


.scenario-card:hover {
    transform: translateY(-5px);
  }
  
.card-title {
color: #333;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}
  
.card-text {
color: #555;
font-size: 0.9rem;
margin-bottom: 1rem;
}