.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #f7f7f7;
}

.accordion-title:hover,
.accordion-title:focus {
  background-color: #e7e7e7;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}

.accordion-toggle {
  font-size: 24px;
}

/* General Page Content Styling */
.page-content {
  background-color: #f8f9fa;
  padding: 20px;
}

/* Styled Table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #556ee6;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* View Button Styling */
.view-button {
  background-color: #556ee6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #007f6b;
}

/* Loading Indicator */
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Error Message */
.alert {
  margin: 10px 0;
  border-radius: 5px;
}
